// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$bgMain :#b5d1ee;
$bgWhite :#8f8f8f88;
$imgActive: rgb(248, 215, 215);
$imgBActive: rgb(250, 191, 191);
$imgFilter: rgb(193, 252, 208);
$imgBFilter: rgb(139, 243, 165);
$imgNotActive: rgb(253, 228, 228);
$hBgMain :#84b3e6;
$txtWhite: rgba(255, 255, 255, 1);
$txtBlack: rgba(0, 0, 0, 0.7);
$txtDark: rgba(19, 16, 16, 0.7);

$bgGreen: rgb(215, 248, 217);
$bgBlue: rgb(220, 239, 255);
$bgYellow: rgb(245, 248, 215);

$brdGreen: rgb(188, 247, 192);
$brdBlue: rgb(176, 216, 248);
$brdYellow: rgb(237, 245, 156);

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
